<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 avatar">
        <a href="/"><img alt="Avatar" src="/assets/images/avatar.png" /></a>
        <div class="social">
          <div class="soc">
            <a href="https://www.linkedin.com/in/antraf/" target="_blank" class="soc-linkedin" title="Linkedin"></a>
            <a href="https://github.com/arrodrigues" target="_blank" class="soc-github" title="Github"></a>
            <a href="https://twitter.com/antoniorafael_r" target="_blank" class="soc-twitter" title="Twitter"></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="name">
          <a href="/">{{ site.title | default: site.github.repository_name }}</a>
        </div>
        <div class="tagline">
          {{ site.description | default: site.github.project_tagline }}
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    </div>
  </div>